/*
 *= require_bootstrap-sprockets
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'ionicons';

.nav-bar {
    z-index: 1000;
    background: white;
    position: fixed;
    display: table;
    width: 100%;
    height: 105px;
    border-bottom: 1px solid #e4e4e4
}

.brand-container {
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    padding: 0;
    left: 24px;
}

.logo-container {
    position: relative;
}

.logo {
    display: inline-block;
}

.user-links {
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    float: right;
}

.links-list {
    display: table;
    vertical-align: middle;
    float: right;
}

.links-container {
    display: block;
    vertical-align: middle;
}

.links-list li {
    display: table-cell;
}

.list-button {
    display: block;
    position: relative;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.list-button a {
    display: inline-block;
    padding: 0 16px;
    margin: 0;
    whitespace: nowrap;
    height: 64px;
    line-height: 64px;
    color: #696969;
}

.list-button a span {
    border-bottom: 2px solid transparent;
}

.list-button a:hover {
    text-decoration: none;
    color: #696969;
}

.list-button a:hover span {
    border-bottom: 2px solid #696969;
}

.list-button a:focus {
    text-decoration: none;
    outline: none;
}

.list-button a:active {
    outline: 1.5px solid #86b3fe;
}

.button-container {
    display: inline-block;
}

.button-container span {
    padding: 8px 0;
}

.modal-dialog {
    background: white;
}

.map-search-container {
    width: 100%;
    display: block;
    top: 105px;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    padding-top: 105px;
}

.listings-container {
    display: block;
    position: relative;
    width: 66%;
}

.listing {
    position: relative;
    float: left;
    max-width: 46%;
    height: 310px;
    margin: 10px 2%;
    overflow: hidden;
}

.listing img {
    height: 240px;
    width: 100%;
}

.listing:hover {
    cursor: pointer;
}

.map-container {
    
}

.prev-slide,
.next-slide {
    color: white;
    position: absolute;
    display: flex;
    width: 15%;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    text-align: center;
}

.prev-slide {
    left: 0;
}

.prev-slide i,
.next-slide i {
    margin: 0 auto;
}

.prev-slide a:hover,
.next-slide a:hover {
    color: gray;
}

.home-title {
    font-size: 1.5em;
    color: gray;
}

.listing-info a:hover {
    text-decoration: none;
    
}

#map {
    position: fixed !important;
    overflow: hidden;
    height: 100%;
    width: 36%;
    top: 105px;
    right: 0;
}

