/*
 *= require_bootstrap-sprockets
 *= require_bootstrap-datepicker
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'ionicons';

.nav-bar {
    z-index: 1000;
    background: white;
    position: fixed;
    display: table;
    width: 100%;
    height: 105px;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 10px;
}

.brand-container {
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    padding: 0;
    left: 24px;
    border-right: 2px solid gainsboro;
}

.logo-container {
    position: relative;
}

.logo-container a {
    font-size: xx-large;
    color: red;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.logo {
    display: inline-block;
}

.user-links {
    display: table-cell;
    vertical-align: middle;
    height: 64px;
    float: right;
}

.links-list {
    display: table;
    vertical-align: middle;
    float: right;
}

.links-container {
    display: block;
    vertical-align: middle;
}

.links-list li {
    display: table-cell;
}

.list-button {
    display: block;
    position: relative;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.list-button a {
    display: inline-block;
    padding: 0 16px;
    margin: 0;
    whitespace: nowrap;
    height: 64px;
    line-height: 64px;
    color: #696969;
}

.list-button a span {
    border-bottom: 2px solid transparent;
}

.list-button a:hover {
    text-decoration: none;
    color: #696969;
}

.list-button a:hover span {
    border-bottom: 2px solid #696969;
}

.list-button a:focus {
    text-decoration: none;
    outline: none;
}

.list-button a:active {
    outline: 1.5px solid #86b3fe;
}

.button-container {
    display: inline-block;
}

.button-container span {
    padding: 8px 0;
}

.modal-dialog {
    background: white;
}

.map-search-container {
    width: 100%;
    display: block;
    top: 105px;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    padding-top: 105px;
}

.listings-container {
    display: block;
    position: relative;
    width: 66%;
}

.listing {
    position: relative;
    float: left;
    max-width: 46%;
    height: 310px;
    margin: 10px 2%;
    overflow: hidden;
}

.listing img {
    height: 240px;
    width: 100%;
}

.listing:hover {
    cursor: pointer;
}

.prev-slide,
.next-slide {
    color: white;
    position: absolute;
    display: flex;
    width: 15%;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    text-align: center;
}

.prev-slide {
    left: 0;
}

.prev-slide i,
.next-slide i {
    margin: 0 auto;
}

.prev-slide a:hover,
.next-slide a:hover {
    color: gray;
}

.home-title {
    font-size: 1.5em;
    color: gray;
}

.listing-info a:hover {
    text-decoration: none;
    
}

#map {
    position: fixed !important;
    overflow: hidden;
    height: 100%;
    width: 36%;
    top: 105px;
    right: 0;
}

.room-show-container,
.confirmed-container {
    padding-top: 105px;
    width: 100%;
}

.confirmed-message {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.room-cover-photo {
    width: 100%;
    display: block;
    position: relative;
    height: 320px;
    background: url('house.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.roomSlide img {
    width: 100%;
    object-fit: cover;
}

.room-photos-modal {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    overflow: auto;
    padding-top: 105px;
    z-index: 1000;
    top: 0;
}

.modal-content {
    width: 100%;
    max-width: 105vh;
    margin: 0 auto;
}

.roomSlide {
    display: none;
}

.modal-close {
    font-size: 4.8em;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2000;
    color: white;
}

.modal-close:hover {
    cursor: pointer;
}

.next-photo,
.prev-photo {
    color: white;
    position: absolute;
    align-items: center;
    font-size: 4.8em;
    top: 50%;
}

.next-photo {
    right: 0;
}

.next-photo:hover,
.prev-photo:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.view-photos-btn-container {
    display: inline-block;
    position: absolute;    
    bottom: 20px;
    left: 20px
}

.view-photos-btn {
    display: inline-block;
    
}

.details-container {
    display: block;
    width: 100%;
}

.details {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

.slide-number {
    display: inline-block;
    position: absolute;
    color: white;
}

.content-container {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.two-thirds-container {
    display: block;
    position: relative;
    width: 66%;
    margin: 0;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.one-third-container {
    position: relative;
    width: 34%;
    margin: 0;
    float: left;
}

.room-nav-container {
    height: 60px;
}
.room-nav-bar {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.room-nav-bar a {
    display: table;
    height: 100%;
    float: left;
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 30px;
    color: black;
}

.room-nav-bar a:hover {
    cursor: pointer;
    text-decoration: none;
}

.room-nav-bar a:focus,
.room-nav-bar a:active {
    color: #008489;
    border-bottom: 2px solid #008489;
}

.room-nav-bar span {
    display: table-cell;
    vertical-align: middle;
}

.booking-container {
    position: absolute;
    width: 315px;
}

.booking-price-container {
    display: table;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    height: 45px;
    padding-left: 24px;
    padding-right: 24px;
}

.booking-price {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}

.booking-form {
    padding: 20px;
    min-height: 175px;
    border: 1px solid #dce0e0;
}

.booking-input-row {
    width: 100%;
    display: block;
    margin-bottom: 25px;
}

.booking-col {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.field {
    display: block;
    padding: 12px;
    margin: 0;
    width: 100%;
    margin: 0;
}

.checkin-label {
    width: 100%;
}

.guest-input-button {
    display: block;
    width: 100%;
    background: transparent;
    outline: none;
}

.name-section {
    display: block;
    margin-top: 30px;
    width: 83%;
}

.room-name {
    font-size: 3em;
    font-weight: 300;
    color: rgba(0, 0, 0, .7);
}

.room-address {
    color: rgba(0, 0, 0, .5);
    font-size: 1.5em;
}

.host-avatar {
    width: 17%;
}

.row-divider {
    border: 0;
    border-top: 1px solid #dce0e0;
    margin-top: 17px;
    margin-bottom: 17px;
}

.requests-container {
    padding-top: 105px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin: 0 auto;
}

.edit-fields {
    display: none;
}

.accept-button-container {
    width: 150px;
    display: inline-block;
    text-align: center;
}

.section-name {
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
    height: 85px;
    line-height: 2.5;
    color: gray;
}

.request-waiting {
    
}